@import "../../assets/colors.scss";

.input-container {
  .input-line {
    color: $green;
    display: flex;
    align-items: center;
    line-height: 100%;

    &__address {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500;
    }

    &__input-field {
      padding: 0;
      border: none;
      outline: none;
      color: $green;
      background-color: transparent;
      margin-left: 8px;
      font-size: 1rem;
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500;
      color: white;
      caret-color: transparent;
      pointer-events: none;

      &:focus + .input-line__cursor {
        display: block;
      }
    }

    &__cursor {
      display: none;
      margin-left: 4px;
      height: 1rem;
      width: 0.5rem;
      background-color: $green;
      animation: blink 1s infinite;
    }

    .caret-loader {
      margin-left: 8px;
      height: 1rem;
      width: 0.5rem;
      display: flex;
      justify-content: space-between;

      .col {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &-left {
          flex-direction: column-reverse;
        }

        .dot {
          display: block;
          height: 0.1875rem;
          width: 0.1875rem;
          border-radius: 8px;
        }
        .shade {
          &-0 {
            background-color: $green2;
          }
          &-1 {
            background-color: $green3;
          }
          &-2 {
            background-color: $green4;
          }
        }
      }
    }
  }
}
