@import "../../assets/colors.scss";

.history {
  &__item {
    display: block;
    margin-left: 1ch;
    margin-bottom: 4px;
  }

  &__item.selected {
    margin-left: 0;
    color: $white;
  }

  &__container {
    .input-line__address {
      margin-bottom: 1rem;
    }
    outline: none;
    .address {
      margin-right: 8px;
    }
    pre {
      line-height: 22px;
    }
  }
}
