// Colors
$black: #000000;
$green: green;
$blackGreen: rgb(2, 101, 2);
$red: red;
$white: white;
$link-blue: dodgerblue;

// Animations

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateLeft {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
