// Colors
$black: #101116;
$green: green;
$blackGreen: rgb(2, 101, 2);
$red: red;
$white: white;
$link-blue: dodgerblue;

// Loading Screen Blocks

$green1: #004207;
$green2: #0d691b;
$green3: #009000;
$green4: #32cd32;
$green5: #00ff00;

// Animations

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateRight {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
